/*----------Blobal --------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family:  Roboto Slab, serif, Ubuntu;
}

body {
  width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 100;
  color: #2b9dff;
}
h3 {
  font-size: 24px;
  font-weight: lighter
}

p {
  font-size: 16px;
}

.btnOutline {
  display: block;
  text-decoration: none;
  color: #2b9dff;
  border: 2px #2b9dff solid;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}

.btnOutline:hover {
  color: #fff;
  background-color: #2b9dff
}

.btnFilled {
  display: block;
  text-decoration: none;
  background: #2b9dff;
  color: #fff;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}

.btnFlat {
  display: block;
  text-decoration: none;
  background: #2b9cff15;
  color: #2b9cff;
  border-radius: 6px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}
.btnFlat:hover {
  background: #2b9cff52;
  color: black
}
/*---------NAV--------*/
nav {
  line-height: 150px;
  text-align: right;
}
nav a {
  text-decoration: none;
  color: #202427;
  font-size: 20px;
  font-weight: 700
}

nav a:first-child {
  float: left;
} 

nav a img {
  vertical-align: middle
}

nav a span {
  background: #2b9dff;
  padding: 5px 15px;
  border-radius: 1000px;
  font-weight: 100;
  color: white;
  margin-left: 7px;
}


/*---------- header ------------*/
header {
  height: 1000px;
  min-height: 1000px;
  padding: 0 5%;
  background-image: url(images/background_header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

header h1 {
  width: 40%;
  margin: 2em 0;
}

/*-------------team --------------------*/
.team {
  text-align: center;
  margin: 10em 0 3em 0;
  padding: 0 5%;
  background-image: url(images/background_team.png);
  background-repeat: no-repeat;
  background-position: center;
}

.team h1 {
  width: 50%;
  margin: 0 auto 30px auto;
}

.members {
  margin-top: 20px;
  display: flex;
  justify-content: center
}

.person {
  margin: 0 30px;
  color: #202427;
}

person h3 {
  margin-bottom: 5px;
}

/* ------------- about ------------*/
.about {
  padding: 0 5%;
  background-image: url(images/background_about.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80%;
  height: 900px;
  min-height: 900px;
}

.about h1 {
  margin-bottom: 30px;
  padding-top: 300px;
}

.icons img {
  margin-right: 30px
}

.about h1, .icons {
  margin-left: 50%;
}

/*------------------- Recent blog posts ---------------------------------*/
.recentBlogs {
  margin-top: 140px;
  text-align: center
}

.posts {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}
.recentBlogs h4 {
  color: #2b9dff;
  margin-bottom: 15px;
}

.post {
  width: 25%;
  background: #e5ebf015;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
  box-shadow: 2px 1px 3px 0.5px rgba(128, 128, 128, 0.301)
}
/**---------------calto action------------------*/
.callToAction {
  text-align: center;
  padding: 20em 5% 20em 5%;
  background-image: url(images/background_calltoaction.png);
  background-repeat: no-repeat;
  background-position: center;
}

.callToAction h1, .callToAction a {
  display: inline-block;
  margin: 0 60px;
  vertical-align: middle;
}

/*----------------------- Footer---------------*/

footer {
  padding: 0 5%;
  margin-bottom: 40px;
  color: #2b9dff;
}

footer p, footerPages {
  display: inline-block;
}

.footerPages {
  float: right
}

.footerPages a {
  text-decoration: none;
  font-weight: 100;
  color: #2b9dff;
  margin-left: 30px;
}

/*----------------------- Responsive ---------------*/
